@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata";
    overflow-x: hidden;
}